rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny all reads and writes
    match /{path=**} {
      allow read, write: if false;
    }

    // Explicitly allow access to the collections at the root for authenticated users.
    match /suppliers/{supplierId} {
      allow read, write: if request.auth != null;
    }
    match /customers/{customerId} {
      allow read, write: if request.auth != null;
    }
    match /sales_line_items/{saleLineItemId} {
      allow read, write: if request.auth != null;
    }
    match /stock_alerts/{stockAlertId} {
      allow read, write: if request.auth != null;
    }
    match /counters/{counterId} {
      allow read, write: if request.auth != null;
    }
    match /bakery_orders/{orderId} {
      allow read, write: if request.auth != null;
    }
     match /suppliers/{supplierId}/products/{productId} {
      allow read, write: if request.auth != null;
    }
    match /customers/{customerId}/sales/{saleId} {
      allow read, write: if request.auth != null;
    }
  }
}
